.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.home h1{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #73039fd4;
}
.home h2{
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #444;
}
.home p{
  font-size: 1.2rem;
  color: #555;
}
